@font-face {
  font-family: "Gotham";
  src: url("../font/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham light";
  src: url("../font/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Gotham";
  font-weight: normal;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
}

.header {
  padding: 22px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar {
  display: flex;
  list-style: none;
  gap: 125px;
}
.header-navbar__item {
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  color: #000000;
}

.welcome {
  background-image: url("../img/welocmeBack.png");
  background-size: cover;
  background-position: center;
}
.welcome-wrapper {
  padding: 352px 440px;
}
.welcome-info {
  margin-left: 55px;
  max-width: 400px;
}
.welcome-title {
  margin-top: 35px;
  width: 400px;
  font-family: "Gotham light";
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}
.welcome-button {
  margin-top: 65px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.welcome-button__more {
  width: 87px;
  font-family: "Gotham light";
  font-size: 15px;
  line-height: 21px;
  color: #FFFFFF;
  background: none;
  border: none;
  margin-right: 30px;
}
.welcome-button__buy {
  width: 208px;
  height: 48px;
  font-family: "Gotham";
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
  background: none;
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  margin-left: 60px;
}

.plonqx {
  padding: 200px 0;
}
.plonqx-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plonqx-title {
  margin-top: 60px;
  width: 402px;
  font-family: "Gotham light";
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}
.plonqx-button {
  margin-top: 70px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.plonqx-button__more {
  width: 87px;
  font-family: "Gotham";
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  background: none;
  border: none;
  margin-right: 15px;
}
.plonqx-button__buy {
  width: 208px;
  height: 48px;
  font-family: "Gotham";
  font-size: 13px;
  line-height: 24px;
  color: #C8BB93;
  background: none;
  border: none;
  margin-left: 100px;
}

.product {
  margin-bottom: 270px;
}
.product-container {
  max-width: 1016px;
  margin: 0 auto;
}
.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 245px;
}
.product-group {
  display: flex;
  justify-content: space-between;
  gap: 186px;
}
.product-group__item {
  display: flex;
  align-items: center;
}
.product-group__info {
  margin-left: 50px;
}
.product-title {
  margin-top: 55px;
  width: 208px;
  font-family: "Gotham";
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}
.product-price {
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #000000;
}
.product-button {
  width: 208px;
  height: 48px;
  font-family: "Gotham";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: none;
  border-radius: 100px;
  border: 1px solid #000000;
}
.product-button__soon {
  font-family: "Gotham";
  font-size: 15px;
  line-height: 21px;
  color: #C8BB93;
  background: none;
  border: none;
  padding: 0;
}

.map {
  padding-bottom: 32px;
}
.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
}
.map-info {
  padding: 36px 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-title {
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
}
.map-button {
  width: 208px;
  height: 48px;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: none;
  border-radius: 100px;
  border: 1px solid #000000;
}

.about {
  padding-bottom: 265px;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.about-plonq {
  max-width: 688px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  padding: 25px 120px 0 120px;
}
.about-app {
  max-width: 688px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  padding: 44px 64px 27px 120px;
}
.about-title {
  font-size: 23px;
  line-height: 28px;
  color: #000000;
}
.about-title__sub {
  width: 257px;
  font-size: 15px;
  line-height: 21px;
  font-family: "Gotham";
  margin-bottom: 32px;
}
.about-more {
  width: 87px;
  font-family: "Gotham";
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  background: none;
  border: none;
  margin-right: 15px;
}
.about-img__app {
  margin-left: 42px;
}
.about-img__plonq {
  margin-left: 72px;
}

.plonq {
  width: 298px;
  margin-bottom: 53px;
}

.footer {
  padding: 90px 0 58px 0;
}
.footer-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-title {
  font-family: "Gotham";
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-right: 350px;
}
.footer-button {
  display: flex;
  gap: 12px;
}
.footer-button__ru {
  background: none;
  border: none;
  color: #C8BB93;
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
}
.footer-button__en {
  background: none;
  border: none;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
}
.footer-line {
  border-right: 2px solid #000000;
}
.footer-form {
  display: flex;
  justify-content: center;
}
.footer-form__input {
  width: 424px;
  height: 40px;
  background-color: #F9F9F9;
  border: none;
  margin-right: 25px;
}
.footer-form__button {
  width: 152px;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 24px;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */